* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #3c6ac0;

  font-size: 13pt !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1rem;
  font-weight: normal;
  margin-block: 0;
  margin-inline: 0;
  line-height: 1.2;
}

.content-container {
  margin-bottom: 3rem;

  &:first-child {
    margin-bottom: 2rem;
  }
}

:root {
  font-size: 12pt;
}

// Body tag with sans-serif font
body {
  font-family: "Century Gothic", "Lato", "Inter", "Arial", sans-serif;
  margin: 0 1rem;
  print-color-adjust: exact;
}

.main-container {
  max-width: 1000px;
  margin: 0 auto;
}

.overflow-hidden {
  overflow: hidden;
}

.flow-xsm > * + * {
  margin-top: 0.26rem;
}

.flow-sm > * + * {
  margin-top: 0.4rem;
}

.flow-md > * + * {
  margin-top: 0.8rem;
}

.flow-lg > * + * {
  margin-top: 1.2rem;
}

.flow-xl > * + * {
  margin-top: 1.6rem;
}

.flow-2xl > * + * {
  margin-top: 2rem;
}

.flex {
  display: flex;
}

.upper {
  text-transform: uppercase;
}

.upper-condensed {
  text-transform: uppercase;
  font-size: 0.9rem;
  letter-spacing: 0.65px;
}

.inline-block {
  display: inline-block;
}

.inline-flex {
  display: inline-flex;
}

.flex-col {
  flex-direction: column;
}

.gap-2x {
  gap: 2rem;
}

.centered-items {
  justify-content: center;
  align-items: center;
}

.space-between {
  justify-content: space-between;
  gap: 4rem;
}

p,
.line-height {
  line-height: 1.6;
}

h1 + :is(p, .content) {
  margin-top: 0.5rem;
}

h2 + :is(p, .content) {
  margin-top: 0.35rem;
}

.hidden {
  visibility: hidden;
}

.bold {
  font-weight: bold;
}

.flex.space-between > *:first-child {
  flex: 1;
}

.gradient-text {
  width: fit-content;

  > :is(p, h1, h2, h3, h4, h5, h6, span) {
    color: #324eb2;
  }
}

.margin-right {
  margin-right: 1rem;
}

.margin-left {
  margin-left: 1rem;
}

.skill-name {
  width: 12ch;

  &::before {
    content: "• ";
  }
}

.skill-group:not(:last-child) {
  margin-bottom: 1.5rem;
}

.skill-group-title {
  padding-bottom: 0.22rem;
  font-weight: 500;
}

.skill-level-tag {
  width: 100px;
  height: 1.4rem;
  font-weight: 600;
  border-radius: 4px;
  color: var(--color-primary);
  text-transform: uppercase;
  font-size: 0.6rem;
  letter-spacing: 0.6px;
  border: 1px solid var(--color-primary);
}
