.settings-container {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: white;
  z-index: 99;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
}

.color-box {
  --size: 24px;

  appearance: none;
  border: none;
  outline: none;
  display: inline-block;
  margin-right: 10px;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.2s ease;

  &:hover {
    transform: scale(1.1);
  }

  &:active {
    transform: scale(0.9);
  }
}
